.mainUpper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
}

.book {
  margin-top: 10px;
  width: 300px;
  height: 450px;
  background-color: red;
  background-size: cover;
  background-repeat: no-repeat;
}

#bookOne {
  background-image: url("./assets/facebook.jpg");
  position: relative;
}

#bookTwo {
  background-image: url("./assets/horse.jpg");
  position: relative;
}

#bookThree {
  background-image: url("./assets/thecoolwar.jpg");
  position: relative;
}

.titleInput {
  width: 200px;
  height: 30px;
}
.bookWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#bookOneTitleTextDisplay {
  font-family: "Poiret One", cursive;
  color: blanchedalmond;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

#bookOneAuthorTextDisplay {
  font-family: "Poiret One", cursive;
  color: blanchedalmond;
  position: absolute;
  bottom: 40;
  right: 40;
  text-align: center;
  font-size: 25px;
}

#bookTwoTitleTextDisplay {
  color: yellow;
  font-size: 40px;
  font-weight: bold;
  font-family: "Acme", sans-serif;
  text-align: center;
  padding-top: 10px;
}

#bookTwoAuthorTextDisplay {
  color: rgba(0, 0, 0, 0.877);
  font-family: "Acme", sans-serif;
  position: absolute;
  bottom: 13;
  right: 35;
  font-style: italic;
  text-align: left;
  font-size: 20px;
  font-weight: 100;
}
#bookThreeTitleTextDisplay {
  color: rgba(0, 0, 0, 0.808);
  font-family: "Share Tech Mono", monospace;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 33px;
  transform: rotate(-1deg);
}
#bookThreeAuthorTextDisplay {
  color: white;
  font-size: 30px;
  font-family: "Share Tech Mono", monospace;
  position: absolute;
  bottom: 20px;
  right: 10px;
  text-shadow: 5px 5px 7px rgb(255, 56, 56);
}

button {
  width: 100px;
  border-radius: 0%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
}

font-family: "Acme", sans-serif;
